{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for cent in cents %}
            <div class="col">
                <div class="card-body d-flex align-items-start">
                    <img src="{{ cent.owner.profile.image_url }}" alt="User's avatar" class="avatar mr-3 rounded-circle"
                         width="50"
                         height="50">
                    <div>
                        <p class="card-text quote px-2 py-1 mb-1"
                           style="font-family: 'Roboto', sans-serif;">{{ cent.description|safe|linebreaksbr }}</p>
                        {% if cent.owner.profile.social_github %}
                            <a href="{{ cent.owner.profile.social_github }}" target="_blank"><i class="bi bi-github"
                                                                                style="color: whitesmoke;"></i></a>
                        {% endif %}
                        <a href="{% url 'user_profile' cent.owner.profile.id %}"
                           style="text-decoration:none;"
                           class="text-danger">
                            <span>{{ cent.owner.profile.first_name }} {{ cent.owner.profile.last_name }}</span></a> ~
                        <small><i>{{ cent.owner.profile.title }}</i> </small>
                        {% comment %} <img src="{% static 'images/download.svg' %}" alt="likes" class="avatar mr-3" width="20"
                         height="20"> {% endcomment %}

                        {% if request.user != cent.owner %}
                            {% if user in cent.user_likes.all %}
                                <form method="post" action="{% url 'dislike' cent.id %}" name="dislike">
                                    {% csrf_token %}
                                    <div>
                                        <button type="submit" name="dislike" value="{{ cent.id }}"
                                                class="btn btn-outline-danger">
                                            Unlike
                                        </button>
                                        <span>{{ cent.hearts }}</span>
                                    </div>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'like' cent.id %}" name="like">
                                    {% csrf_token %}
                                    <div>
                                        <button type="submit" name="like" value="{{ cent.id }}" class="btn btn-danger">
                                            Like
                                        </button>
                                        <span>{{ cent.hearts }}</span>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="" width="100" height="100">
                <h1 class="display-5 fw-bold">No Cents</h1>
                <a href="{% url 'create_cents' %}">
                    <button class="btn btn-danger btn-lg px-4 gap-3">Create 2Cent</button>
                </a>
            </div>
        {% endfor %}

{% endblock content %}