

{% extends 'base.html' %}
{%load static %}

{% block content %} 


<div class="container mt-5">

    <div class="row justify-content-center">
      
      <div class="col-lg-6 col-md-8 col-sm-10 col-12">
        <h4 class='text-center' > Compose a 2cents </h4>
        <form method="post">
            {% csrf_token %}
          <div class="form-group">
              {{ form.as_p }}
          </div>

          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    
    
    
     

</div>

{% endblock %}

