{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="text-center">
                <img src="{{ profile.image_url }}" alt="Avatar" class="mx-auto rounded-circle"
                     style="width:200px; height:200px;">
            </div>

            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <br>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in profile_form %}
                        <div class="form-group mb-3">
                            <label for="image"><i class="fa fa-image"></i>{{ field.label }}</label><br>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-danger">Update Profile</button>
                    </div>

                </form>
            </div>
        </div>

{% endblock %}