{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" login-body text-center">
        <main class="form-signin">
            <form method="post">
                {% csrf_token %}
                {% comment %} <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> {% endcomment %}
                <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="" width="100" height="100">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="text" name="username" class="form-control" id="floatingInput"
                           placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                           placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

{#                <div class="checkbox mb-3">#}
{#                    <label>#}
{#                        <input type="checkbox" value="remember-me"> Remember me#}
{#                    </label>#}
{#                </div>#}
                <button class="w-100 btn btn-lg btn-danger" type="submit">Sign in</button>

            </form>
        </main>
    </div>

{% endblock content %}
  