{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="px-4 py-5 my-5 text-center border bg-danger text-light">
                    <img src="{{ user_profile.image_url }}" alt="Profile picture" class="card-img-top
                        rounded-circle" style="width:200px;height:200px">

                    <div class="card-body">
                        <h5 class="card-title">Username: {{ user_profile.username }}</h5>
                        <p class="card-text">Full Name: {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                        <p class="card-text">Email: {{ user_profile.email }}</p>
                        {% if user_profile.bio %}
                            <p class="card-text">Bio: {{ user_profile.bio }}</p>
                        {% endif %}
                        <p class="card-text">Career: {{ user_profile.title }}</p>
                        <p class="card-text">Location: {{ user_profile.location }}</p>
                        {% if user_profile.social_github %}
                            <a href="{{ user_profile.social_github }}"><i class="bi bi-github" style="color: whitesmoke; padding-right: 6px"></i></a>
                        {% endif %}
                        {% if user_profile.social_linkedin %}
                            <a href="{{ user_profile.social_linkedin }}" style="color: whitesmoke; padding-right: 6px"><i
                                    class="bi bi-linkedin"></i></a>
                        {% endif %}
                        {% if user_profile.social_twitter %}
                            <a href="{{ user_profile.social_twitter }}" style="color: whitesmoke"><i
                                    class="bi bi-twitter"></i></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'edit_account' %}">
                        <button type="button" class="btn btn-light btn-sm mt-3">Update profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

