{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="px-4 py-5 my-5 text-center">
                        <img src="{{ user_profile.image_url }}" alt="Profile picture" class="card-img-top">
                        <a href="{% url 'edit_profile' %}">
                            <button type="button" class="btn btn-secondary btn-sm mt-3">Update profile</button>
                        </a>
                    <div class="card-body">
                        <h5 class="card-title">Username: {{ user_profile.username }}</h5>
                        <p class="card-text">Full Name: {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                        <p class="card-text">Email: {{ user_profile.email }}</p>
                        {% if user_profile.bio %}
                            <p class="card-text">Bio: {{ user_profile.bio }}</p>
                        {% endif %}
                        <p class="card-text">Career: {{ user_profile.title }}</p>
                        <p class="card-text">Location: {{ user_profile.location }}</p>
                        {% if user_profile.social_github %}
                            <p class="card-text">Github: {{ user_profile.social_github }}</p>
                        {% endif %}
                        {% if user_profile.social_linkedin %}
                            <p class="card-text">LinkedIn: {{ user_profile.social_linkedin }}</p>
                        {% endif %}
                        {% if user_profile.social_twitter %}
                            <p class="card-text">Twitter: {{ user_profile.social_twitter }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

