{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="px-4 py-5 my-5 text-center">
                    <img src="{{ profile.image_url }}" alt="Profile picture" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Username: {{ profile.username }}</h5>
                        <p class="card-text">Full Name: {{ profile.first_name }} {{ profile.last_name }}</p>
                        <p class="card-text">Email: {{ profile.email }}</p>
                        {% if profile.bio %}
                            <p class="card-text">Bio: {{ profile.bio }}</p>
                        {% endif %}
                        {% if profile.title %}
                            <p class="card-text">Career: {{ profile.title }}</p>
                        {% endif %}
                        {% if profile.location %}
                            <p class="card-text">Location: {{ profile.location }}</p>
                        {% endif %}
                        {% if user_profile.social_github %}
                            <a href="{{ user_profile.social_github }}"><i class="bi bi-github" style="color: whitesmoke; padding-right: 6px"></i></a>
                        {% endif %}
                        {% if user_profile.social_linkedin %}
                            <a href="{{ user_profile.social_linkedin }}" style="color: whitesmoke; padding-right: 6px"><i
                                    class="bi bi-linkedin"></i></a>
                        {% endif %}
                        {% if user_profile.social_twitter %}
                            <a href="{{ user_profile.social_twitter }}" style="color: whitesmoke"><i
                                    class="bi bi-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

